{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="shortcut icon" href="{% static "Logo(E).svg" %}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>E-learn</title>
</head>
<body class="bg-gray-100">
    <!-------------------------------- Header -------------------------------->
    <header class="bg-gray-900 py-7 px-4 md:px-6">
        <div class="container mx-auto flex items-center justify-between">
            <a class="text-white font-bold text-base" href="http://127.0.0.1:8000/">
                <img src="{% static "Logo.svg" %}" alt="Logo">
            </a>
        </div>
    </header>
    <!-------------------------------- Header -------------------------------->
    <section class="bg-gray-100 mt-5 mb-5">
        <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto lg:py-0">
            <div class="w-full bg-white rounded-lg shadow md:mt-0 sm:max-w-md xl:p-0">
                <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                    <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl ">
                        Crear una cuenta
                    </h1>
                    <form class="space-y-4 md:space-y-6" [formGroup]="myform" (ngSubmit)="submit()">
                        <div> 
                            <label class="block mb-2 text-sm font-medium text-gray-900">Nombre</label>
                            <input type="text" name="name" id="name" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" placeholder="Pedro" formControlName="name">
                            <span class="text-red-600" *ngIf="this.myform.get('name')?.errors?.['required'] && this.myform.get('name')?.touched">
                                ¡El nombre no puede estar vacio!
                            </span>
                            <span class="text-red-600" *ngIf="this.myform.get('name')?.errors?.['pattern'] && this.myform.get('name')?.touched">
                                ¡El nombre no puede contener números ni carácteres especiales!
                            </span>
                        </div>
                        <div> 
                            <label class="block mb-2 text-sm font-medium text-gray-900">Apellidos</label>
                            <input type="text" name="lastname" id="lastname" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" placeholder="García García" formControlName="lastname">
                            <span class="text-red-600" *ngIf="this.myform.get('lastname')?.errors?.['required'] && this.myform.get('lastname')?.touched">
                                ¡El apellido no puede estar vacio!
                            </span>
                            <span class="text-red-600" *ngIf="this.myform.get('lastname')?.errors?.['pattern'] && this.myform.get('lastname')?.touched">
                                ¡El apellido no puede contener números ni carácteres especiales!
                            </span>                                           
                        </div>
                        <div>
                            <label class="block mb-2 text-sm font-medium text-gray-900">Email</label>
                            <input type="email" name="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" placeholder="name@fundesplai.com" formControlName="email">
                            <span class="text-red-600" *ngIf="this.myform.get('email')?.errors?.['pattern'] && this.myform.get('email')?.touched">
                                ¡Formato incorrecto para el email!
                            </span>
                            <span class="text-red-600" *ngIf="this.myform.get('email')?.errors?.['required'] && this.myform.get('email')?.touched">
                                ¡El email no puede estar vacio!
                            </span>
            
                        </div>
                        <div> 
                            <label for="password" class="block mb-2 text-sm font-medium text-gray-900">Contraseña</label>
                            <input type="password" name="password" id="password" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" formControlName="password">
                            <span class="text-red-600" *ngIf="this.myform.get('password')?.errors?.['required'] && this.myform.get('password')?.touched">
                            ¡La contraseña no puede estar vacio!
                        </span>
                        <span class="text-red-600" *ngIf="this.myform.get('password')?.errors?.['minlength'] && this.myform.get('password')?.touched">
                            ¡La contraseña tiene que tener un mínimo de 8 carácteres!
            
                        </span>

                        </div>
                        <div>
                            <label for="rpassword" class="block mb-2 text-sm font-medium text-gray-900">Confirma la contraseña</label>
                            <input type="password" name="rpassword" id="rpassword" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" formControlName="rpassword" appConfirmPassword [param]="this.myform.value.password">
                            <span class="text-red-600" *ngIf="this.myform.get('rpassword')?.errors?.['required'] && this.myform.get('rpassword')?.touched">
                            ¡La contraseña no puede estar vacio!
                        </span>
                        <span class="text-red-600" *ngIf="this.myform.get('rpassword')?.errors?.['minLenght'] && this.myform.get('rpassword')?.touched">
                            ¡La contraseña tiene que tener un mínimo de 8 carácteres!
            
                        </span>
                        <span class="text-red-600" *ngIf="this.myform.get('rpassword')?.errors?.['noMatch'] && this.myform.get('rpassword')?.touched">
                            ¡La contraseña no coincide!
                        </span>         
                                
                        </div>
                        <div>
                            <label for="birthdate" class="block mb-2 text-sm font-medium text-gray-900">Nacimiento</label>
                            <input type="date" name="birthdate" id="birthdate" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" formControlName="birthdate">
                            <span class="text-red-600" *ngIf="this.myform.get('birthdate')?.errors?.['required'] && this.myform.get('birthdate')?.touched">
                                ¡El cumpleaños no puede estar vacio!
                            </span>
                            <span class="text-red-600" *ngIf="this.myform.get('birthdate')?.errors?.['futureDate'] && this.myform.get('birthdate')?.touched">
                                ¡No puedes poner una fecha futura!
                            </span>
            
                        </div>
                        <div class="flex items-start">
                            <div class="flex items-center h-5">
                              <input id="terms" aria-describedby="terms" type="checkbox" formControlName="terms" class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-primary-300">
                            </div>
                            <div class="ml-3 text-sm">
                              <label for="terms" class="font-light text-gray-500 ">Acepto los <a class="font-medium text-primary-600 hover:underline">Terminos y condiciones</a></label>
                            </div>
                            <span class="text-red-600" *ngIf="this.myform.get('terms')?.errors?.['required'] && this.myform.get('terms')?.touched">
                                Acepta los terminos y condiciones para registrarte.
                            </span>
                        </div>
                        <div *ngIf="myform.invalid">
                            <span class="text-red-300">Completa el formulario para registrarte.</span>
                        </div>
                        <button class="w-full text-white bg-gray-900 hover:bg-white hover:text-gray-900 border border-gray-900 hover: transition duration-200 ease-in-out font-medium rounded-lg text-sm px-5 py-2.5 text-center" type="submit" [disabled]="myform.invalid">Crear una cuenta</button>
                        <p class="text-sm font-light text-gray-500">
                            ¿Ya tienes una cuenta? <a href="/login" class="font-medium text-primary-600 hover:underline ">Inicia sesión</a>
                        </p>
                    </form>
                </div>
            </div>
        </div>
      </section>
      <!-- ················································ FOOTER ················································· -->
      <footer class="bg-gray-900 shadow dark:bg-gray-900 w-full mt-auto">
        <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
            <div class="sm:flex sm:items-center sm:justify-between">
                <a href="http://127.0.0.1:8000/" class="flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse">
                    <img src="{% static "Logo.svg" %}" class="h-8" alt="Flowbite Logo" />
                    <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white"></span>
                </a>
                <ul class="flex flex-wrap items-center mb-6 text-sm font-medium text-gray-500 sm:mb-0 dark:text-gray-400">  
                    <li>
                        <a href="https://github.com/FranciscoCallejaCarbajo" class="hover:underline me-4 md:me-6 text-white" target="_blank"><i class="fa-brands fa-github pr-1"></i>Fran</a>
                    </li>
                    <li>
                        <a href="https://github.com/alma8026" class="hover:underline me-4 md:me-6 text-white" target="_blank"><i class="fa-brands fa-github pr-1"></i>Alejandro</a>
                    </li>
                    <li>
                        <a href="https://github.com/JosiasGNeto" class="hover:underline me-4 md:me-6 text-white" target="_blank"><i class="fa-brands fa-github pr-1"></i>Josias</a>
                    </li>
                    <li>
                        <a href="https://github.com/Yagomf13" class="hover:underline text-white" target="_blank"><i class="fa-brands fa-github pr-1"></i>Yago</a>
                    </li>
                </ul>
            </div>
            <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
            <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2024 <a href="http://127.0.0.1:8000/" class="hover:underline">E-learn</a>. All Rights Reserved.</span>
        </div>
    </footer>
    <!-- ········································································································· -->

      
</body>
</html>